{% extends 'blog/base.html' %}

{% block title %}
	{% if edit_mode %}Edit Comment{% else %}Add Comment{% endif %}
{% endblock %}

{% block content %}
	<div class="container mt-5">
		<h2 class="mb-4">
			{% if edit_mode %}Edit your Comment{% else %}Add a Comment{% endif %}
		</h2>
		<form method="POST">
			{% csrf_token %}

			<div class="mb-3">
				{{ form.text.label_tag }}
				{{ form.text }}
				{% if form.text.errors %}
					<div class="text-danger">{{ form.text.errors }}</div>
				{% endif %}
			</div>

			<button type="submit" class="btn btn-primary">
				{% if edit_mode %}Update{% else %}Post{% endif %}
			</button>
		</form>
	</div>

	<script>
		var editor = new MediumEditor('.editable');
	</script>
{% endblock %}
